<div class="row">
    <div class="col-6 m-auto">

        <div class="card m-auto">
            <div class="card-header">
                register
            </div>
            <div class="card-body">
                <Form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-12">
                        <label for="name" class="form-label">Name</label>
                        <Input type="text" class="form-control" formControlName="userName" ngDefaultControl>

                        <span *ngIf="!userName.valid && userName.touched" class="error-block">
                              Please provide name
                          </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="email" class="form-label">Email</label>
                        <Input type="text" class="form-control" formControlName="email" ngDefaultControl>
                        <span *ngIf="!email.valid && email.touched" class="error-block">
                          <span *ngIf="email.hasError('required')">
                            please provide email
                          </span>
                        <span *ngIf="email.hasError('email')">
                          Please provide valid email
                          </span>
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="name" class="form-label">Password</label>
                        <Input type="password" class="form-control" formControlName="password" ngDefaultControl>
                        <span *ngIf="!password.valid && password.touched" class="error-block">
                          <span *ngIf="password.errors['required']">
                            please provide email
                          </span>
                        <span *ngIf="password.errors.minlength">
                          Password should not be lesser than 8 character
                          </span>

                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="name" class="form-label">Confirm Password</label>
                        <Input type="password" class="form-control" formControlName="confirmPassword" ngDefaultControl>
                        <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="error-block">
                            <span *ngIf="confirmPassword.errors['required']">
                              please confirm password
                            </span>


                        </span>
                        <span class="error-block" *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid">
                          Password not matched
                          </span>

                    </div>
                    <div class="form-group col-12">
                        <label for="name" class="form-label">Mobile</label>
                        <Input type="text" class="form-control" formControlName="mobile" ngDefaultControl>
                        <span *ngIf="!mobile.valid && mobile.touched" class="error-block">
                            Please provide 10-digit phone number

                          </span>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary"> Save</button>
                        <button type="submit" class="btn btn-secondary ml-2">Cancel</button>
                    </div>
                    Form Values: {{registrationForm.value | json}} <br> Form Status : {{registrationForm.valid }}

                </Form>
            </div>
        </div>
    </div>

</div>